
/* Set Selectors for Labeling a Diverse Range of UV Low 0 - 2 Green
Moderate 3 - 5 Yellow
High 6-7 Orange
Very High 8-10 Red */

.green {
    background-color:green;
}

.yellow {
    background-color:yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.navbar-brand {
    font-size: 36px;
}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 30px;
}

#date1,
#date2,
#date3,
#date4,
#date5 {
    font-size: 18px;
}